@model CA2_MovieFacts.Models.ScreenName

<div class="container col-md-12">
    @{
        ViewBag.Title = "Create";
    }

    <div class="well">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Add a ScreenName for an Actor in a Movie</legend>

                    <div class="form-group">
                        @Html.DropDownList("MovieId", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.DropDownList("ActorId", null, new { @class = "form-control" })
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ActorScreenName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.ActorScreenName)
                        @Html.ValidationMessageFor(model => model.ActorScreenName)
                    </div>

                    <p>
                        <div class="btn-group-vertical">
                            <input type="submit" value="Create" class="btn btn-warning" />
                        </div>
                    </p>
                </fieldset>

            }
        </div>@*div panel-body*@
    </div>@*div well*@
</div>@*div container*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
