@using CA2_MovieFacts.Models;
@model CA2_MovieFacts.Models.Movie

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Edit '@Model.MovieTitle'</h2>
        </div>
    </div>

    <div class="well">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    @Html.HiddenFor(model => model.MovieId)
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.MovieTitle)
                            @Html.TextBoxFor(model => model.MovieTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MovieTitle)
                        </div>

                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.MovieYear)
                            @Html.TextBoxFor(model => model.MovieYear, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MovieYear)
                        </div>

                        <div class="form-group col-xs-12 col-md-8">
                            @Html.LabelFor(model => model.MovieFacts)
                            @Html.TextAreaFor(model => model.MovieFacts, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MovieFacts)
                        </div>
                    </div>@*div row*@
                </fieldset>
            <p>
                <input type="submit" value="Save" class="btn btn-warning" />

                <a class="btn btn-info" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;Back to List
                </a>

                @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })*@
            </p>
            }
            </div>@*div panel-body*@
        </div>@*div well*@
    </div>@*div container*@


    @section Scripts 
        {
        @Scripts.Render("~/bundles/jqueryval")
        }
