@using System.Web.UI.WebControls
@using CA2_MovieFacts.Models
@model CA2_MovieFacts.Models.Actor

<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2>Create a new Actor</h2>
        </div>
    </div>

    <div class="well">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

    <fieldset>
        <legend>Enter Actor details here</legend><br />

        <div class="row">
            <div class="form-group col-xs-10 col-md-2">
                @Html.LabelFor(model => model.ActorName)
                @Html.TextBoxFor(model => model.ActorName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActorName)
            </div>

            <div class="form-group col-xs-10 col-md-8">
                @Html.LabelFor(model => model.Biography)
                @Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Biography)
            </div>
        </div>@*div row*@
                <p>
                    <input type="submit" value="Create" class="btn btn-danger" /> 
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                </p>
</fieldset>
            }
    </div>@*div panel-body*@
    </div>@*div well*@            
</div>@*div container*@

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
