@using CA2_MovieFacts.Models;
@model CA2_MovieFacts.Models.Actor


<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>Edit '@Model.ActorName'</h2>
        </div>
    </div>

    <div class="well">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    @Html.HiddenFor(model => model.ActorId)
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.ActorName)
                            @Html.TextBoxFor(model => model.ActorName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ActorName)
                        </div>
                        <div class="form-group col-xs-12 col-md-10">
                            @Html.LabelFor(model => model.Biography)
                            @Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Biography)
                        </div>
                </div>@*div row*@
            </fieldset>
        <p>
            <input type="submit" value="Save" class="btn btn-warning" />

            <a class="btn btn-success" href="@Url.Action("Index")">
                <span class="glyphicon glyphicon-home"></span>&nbsp;Back to List
            </a>

            @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })*@
        </p>
            }
        </div>@*div panel-body*@
    </div>@*div well*@
</div>@*div container*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
